.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-title {
  width: 40px;
}

/* flex */

.item {
  /* font-weight: 600; */
  min-height: 80vh;
  flex-basis: 23.5%;
  flex-shrink: 1;
  flex-grow: 1;
  color: white;
  text-shadow: 2px 2px 3px black;
}

.content {
  padding-left: 10%;
  padding-right: 10%;
  max-width: 1100px;
  margin: 0 auto;
}

.title {
  color: white;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  text-shadow: 5px 5px 7px black;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.flexbox {
  margin-top: 7vh;
  margin-bottom: 10vh;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  row-gap: 2em;
}

@media screen and (max-width: 1000px) {
  .item {
    flex-basis: 49%;
  }
}

/* react-highlight style */
.hljs {
  height: 700px;
  /* height: 100%; */
  font-size: small;
}
.hljs::-webkit-scrollbar {
  width: 3px;
  background-color: black;
  border-radius: 55px;
}
.hljs::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 55px;
}

/* component */
.w-btn {
  border: 0;
  /* position: relative; */
  /* display: inline-block; */
  /* border: 1px solid white; */
  padding: 15px 30px;
  transition: 0.25s;
  background-color: transparent;
  color: white;
}

.active {
  background-color: #282c34;
}

.r-btn {
  color: #282c34;
}

.w-btn:hover {
  /* letter-spacing: 2px; */
  /* transform: scale(1.2); */
  background-color: #282c34;
  cursor: pointer;
}

.w-btn:active {
  transform: scale(1.1);
}

.w-input {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 99%;
  height: 32px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  background-color: black;
  color: white;
}

.w-selectbox {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 99.8%;
  height: 32px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  background-color: black;
  color: white;
}

.w-textarea {
  width: 99%;
  height: 335px;
  margin-top: 2px;
  /* color: black; */
  color: #00f407;
  /* color: white; */
  background-color: white;
  background-color: black;
  resize: none;
  font-size: medium;
}

.m-textarea {
  width: 99%;
  height: 265px;
  margin-top: 2px;
  /* color: black; */
  color: #00f407;
  /* color: white; */
  background-color: white;
  background-color: black;
  resize: none;
  font-size: medium;
}

.w-textarea::-webkit-scrollbar {
  width: 3px;
  background-color: black;
  border-radius: 55px;
}

.w-textarea::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 55px;
}

.connect-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-width: 230px; */
  width: 100%;
  min-height: 60px;
  padding: 15px 30px;
  border-radius: 15px;
  background-color: black;
  border: 0;
  transition: 0.25s;
  color: white;
  font-weight: 600;
  font-size: small;

  border: 1px solid rgb(147, 147, 147);
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* box-shadow: 0 0 5px 0 white; */
}
.connect-btn:hover {
  /* letter-spacing: 2px; */
  /* transform: scale(1.1); */
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}
.connect-btn:active {
  transform: scale(1.1);
}

/* header */

.header-section {
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
}
.header-logo {
  flex: 1;
  padding: 0 0 0 0px;
}

.header-nav {
  flex: 9;
}

.header-nav ul {
  display: flex;
  justify-content: center;
}

.header-nav ul li {
  margin: 0 15px;
}

.header-right {
  flex: 2;
  margin-right: 30px;
}

.header-right ul {
  display: flex;
  justify-content: flex-end;
}
